node_modules

# CDK
cdk.out/
.cdk.staging/
*.d.ts
cdk-outputs.json
cdk.context.json

# Environment & Credentials
.env
.env.local
.env.*.local
.awsprofile

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary & OS
.DS_Store
*~
*.log
dist/
build/

# Local
data/
pnpm-lock.yaml